.journey {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;

    .imgDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(rgba(13, 13, 13, 0) 50%, rgba(13, 13, 13, 1)), url(../../images/grasspic.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        padding: 5rem;

        .heading {
            color: #fff;
            font-size: 5rem;
            width: fit-content;
            margin: auto;
            font-weight: 500;
        }
    }

    .timeline {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 2rem;
        background-color: #0D0D0D;
        padding: 3rem;

        .logo_container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            z-index: 0;

            .logo {
                position: relative;
                width: 30rem;
                right: 3rem;
                opacity: 0.2;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 2rem;

            .linedot {
                width: 16px;
                position: absolute;
                top: 0.3rem;
                left: -1.5rem;
            }

            h1 {
                color: #fff;
                font-weight: 500;
                z-index: 1;
            }

            p {
                color: #fff;
                font-size: 1.1rem;
                font-weight: 200;
                z-index: 1;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .journey {
        .timeline {
            .content {
                .linedot {
                    display: none;
                }
            }
        }
    }

}